body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12pt;
    color: #202020;
    display:flex; 
	flex-direction:column; 
}
h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24pt;
    color: #202020;
    text-align: center;
}
h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16pt;
    color: #202020;
    text-align: center;
}

#tabs {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

#tabs li {
  float: left;
}

#tabs li a
{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


#tabs li a:hover {
  background-color: #111;
}

#main{
	padding: 20px;
	padding-top:30px
}

#footer {
  margin-top:auto; 
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
}

.spacer-footer{
	margin-top: 30%;
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  padding: 25px;
  width: 100%;
  table-layout: fixed;
  
}

table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
}

table th, table td {
  padding: .625em;
  text-align: center;
}

table th {
	font-size: .85em;
	letter-spacing: .1em;
	text-transform: uppercase;
}



label, input, textarea{
	display: block;
	width: 100%;
	font-size: 12pt;
	line-height: 24pt;
}

input{
  margin-bottom: 24pt;
 }
 
input, textarea{
	border: none;
	border: 1px solid rgba(0,0,0,.1);
	border-radius: 2px;
	padding-left: 5px;
	outline: none;
}

textarea{
	resize: none;
}
input[type=submit]{
	margin-left:auto;
	margin-right:auto;
	margin-bottom:3em;
	width:25%;
    display: block;
    background: #333;
    color: #FFF;
    border: 0;
    border-radius: 4px;
    text-align: center;
    padding: 20px 30px;
    line-height: 1;
    text-decoration: none;
}
input[type=submit]:hover{
  	background: #DDD;
  	color: #000;
}
.catalogue-icons {
	display: inline-block;
	padding: 5px 0;
	color: black;
	text-decoration: none;
}
.catalogue-icons img {
  width: 32px;
  height: auto;
  font-size: 28px;
  display: block;
  margin: 0 auto;
}
.catalogue-icons:hover {
  color: blue;
  background: #efefef;
}
.cart-button{
	display:inline-block;
	margin-left: auto;
	margin-right: auto;	
	margin-top: 2em;
}
.cart-button a {
    display: inline-block;
    background: #333;
    color: #FFF;
    border: 0;
    border-radius: 4px;
    text-align: center;
    padding: 20px 30px;
    line-height: 1;
    text-decoration: none;
}
.cart-button a:hover {
  background: #DDD;
  color: #000;
}





.form-group {
  margin: 30px auto;
  width: 450px;
}

.form-control {
  float: left;
}

#inputStreet {
  width: 100%;
}

#inputCity {
  width: 50%;
}

#inputState {
  width: 15%;
}

#inputZip {
  width: 28%;
}

#inputCounty {
  width: 45%;
}

#inputCountry {
  width: 50%;
}

.error{
	background-color: red;
}
